.cal-calendar-header-container {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.cal-calendar-header-container span:first-child {
    margin-right: 12px;
}

.cal-calendar-header-title-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    cursor: pointer;
}

.cal-calendar-header-title-container:hover {
    background-color: darkgrey;
}

.cal-calendar-header-title {
    font-size: 20px;
    font-weight: 500;
}
